[Desktop Entry]
Type=Application
Name=wipEout (phoboslab)
GenericName=wipEout
Comment=Futuristic Racing Video Game
Icon=org.phoboslab.wipeout
Exec=
Categories=Game;SportsGame;
